{% extends "main.html" %}
{% block active_twitch %}active{% endblock %}
{% block title %}Twitch Live Status{% endblock %}
{% load staticfiles %}
{% load home_tags %}

{% block js %}
    <script type="text/javascript" src="{% static 'twitch/js/live-status.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">

            <form name="twitch-channel-form" id="twitch-channel-form">
                <div class="form-group">
                    <label for="twitch-channel">Twitch Channel</label>
                    <input type="text" class="form-control" name="twitch-channel" id="twitch-channel"
                           aria-describedby="twitch-channel-help" placeholder="Twitch Channel" required>
                    <small id="twitch-channel-help" class="form-text text-muted">Full Twitch Channel/Username.</small>
                </div>

                <div class="progress ">
                    <div id="search-status" class="progress-bar" role="progressbar"
                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>

                <button class="btn btn-primary mt-2" type="submit" id="twitch-channel-btn">
                    Search <i id="search-icon" class="fas fa-sync ml-2"></i>
                </button>
            </form>

        </div>
    </div>
{% endblock %}
